In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Original File

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/BenignCSVs/Ben0.csv',header=None)

In [ ]:
data.head()

                                                0     1     ...  9502  9503
0  000002B63FAD4B030787F6DE4081DC1E12325026EB7DDA...    52  ...     0     0
1  00000989F3E215BA9FC3BDD5B56AF751343B540C1026BF...    71  ...     0     0
2  00000F8EE4F64324BA04356745E946152C2F43ECB63372...   688  ...     0     0
3  00001091AE8F704E461A37576EE67CCCD1F286D07C6C17...   295  ...     0     0
4  000010F33B578B4B5C33724520E38BD44485705DC1B6AD...   319  ...     0     0

[5 rows x 9504 columns]

In [ ]:
data.drop(0,axis=1,inplace=True)

In [ ]:
data.shape

(32084, 9504)

In [ ]:
pop_mean = sum(data.mean(axis=0))/data.shape[1]

**Simple Random Sampling**

In [ ]:
temp = data.sample(frac=0.2)

In [ ]:
temp.shape

(6417, 9504)

In [ ]:
srs_mean = sum(temp.mean(axis=0))/temp.shape[1]

In [ ]:
del temp

**Systematic Sampling**

In [ ]:
def systematic_sampling(df, step):

    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

systematic_sample = systematic_sampling(data, 5)

In [ ]:
systematic_sample.shape

(6417, 9505)

In [ ]:
ss_mean = sum(systematic_sample.mean(axis=0))/systematic_sample.shape[1]

In [ ]:
del systematic_sample

In [ ]:
systematic_sample.head()

                                                    0    1  ...  9503  cluster_id
0   000002B63FAD4B030787F6DE4081DC1E12325026EB7DDA...   52  ...     0           1
5   00001112E046D8BBF8B5529A9ECB39920F828209EF4ABF...  293  ...     0           1
10  00001C429E58E2795B815F0EB63C603837AFC0EE76E9AE...  146  ...     0           1
15  000023840783F38467E39CC93B0A9C8EDB7DF3A7F1D151...   16  ...     0           1
20  0000399391F86A5C889B5166CEA46FD2F514B6DA68CE54...  315  ...     0           1

[5 rows x 9505 columns]

In [ ]:
systematic_sample.to_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/Ben0_sampled.csv')

**Cluster Sampling**

In [ ]:
def cluster_sampling(df, number_of_clusters):

    try:
        # Divide the units into cluster of equal size
        df['cluster_id'] = np.repeat([range(1,number_of_clusters+1)],len(df)/number_of_clusters)

        # Create an empty list
        indexes = []

        # Append the indexes from the clusters that meet the criteria
        # For this formula, clusters id must be an even number
        for i in range(0,len(df)):
            if df['cluster_id'].iloc[i]%3 == 0:
                indexes.append(i)
        cluster_sample = df.iloc[indexes]
        return(cluster_sample)

    except:
        print("The population cannot be divided into clusters of equal size!")

cluster_sample = cluster_sampling(data,26)

In [ ]:
cluster_sample.shape

(9872, 9505)

In [ ]:
cs_mean = sum(cluster_sample.mean(axis=0))/(cluster_sample.shape[1]-1)

In [ ]:
data.drop('cluster_id',axis=1,inplace=True)

In [ ]:
del cluster_sample

**Stratified Random Sampling**

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

# Set the split criteria
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2)

# Perform data frame split
for x, y in split.split(data, data['cluster_id']):
    stratified_random_sample = data.iloc[y]

In [ ]:
strs_mean = sum(stratified_random_sample.mean(axis=0))/(stratified_random_sample.shape[1]-1)

In [ ]:
del stratified_random_sample

In [ ]:
data.shape

(32084, 9505)

**Comparison Based on Means**

In [ ]:
# Create a dictionary with the mean outcomes for each sampling method and the real mean
outcomes = {'sample_mean':[srs_mean,ss_mean,cs_mean,strs_mean],
           'real_mean':pop_mean}

# Transform dictionary into a data frame
outcomes = pd.DataFrame(outcomes, index=['Simple Random Sampling','Systematic Sampling','Cluster Sampling','Stratified Random Sampling'])

# Add a value corresponding to the absolute error
outcomes['abs_error'] = abs(outcomes['real_mean'] - outcomes['sample_mean'])

# Sort data frame by absolute error
outcomes.sort_values(by='abs_error')

                            sample_mean  real_mean  abs_error
Systematic Sampling            0.054106   0.054035   0.000071
Simple Random Sampling         0.054271   0.054035   0.000236
Stratified Random Sampling     0.055581   0.054035   0.001546
Cluster Sampling               0.056138   0.054035   0.002103

#Experimental Section

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/Malicious-CSVs/Adware.csv',header=None)

In [ ]:
data.head()

                               0     1     2     3     ...  9500  9501  9502  9503
0  000001b4e3166fc63a4f89579983526c     1     0     0  ...   0.0   0.0   0.0   0.0
1  00005592c30502de446d36cb86889ba4    78     0     0  ...   0.0   0.0   0.0   0.0
2  0000ae08a9b7f15340eb1ea5c299f92c   818     0     0  ...   0.0   0.0   0.0   0.0
3  0000b2e38074bd1ad2e41e2f1402a7eb    84     0     0  ...   0.0   0.0   0.0   0.0
4  0000da62bc65e698a419a79b6408bd76    78     0     0  ...   0.0   0.0   0.0   0.0

[5 rows x 9504 columns]

In [ ]:
data.drop(0,axis=1,inplace=True)

In [ ]:
data.shape

(47210, 9503)

**Simple Random Sampling**

In [ ]:
temp = data.sample(frac=0.106)

In [ ]:
temp.shape

(5004, 9503)

In [ ]:
srs_mean = sum(temp.mean(axis=0))/temp.shape[1]

In [ ]:
del temp

**Systematic Sampling**

In [ ]:
def systematic_sampling(df, step):

    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

systematic_sample = systematic_sampling(data, 9)

In [ ]:
systematic_sample.shape

(5246, 9503)

In [ ]:
ss_mean = sum(systematic_sample.mean(axis=0))/systematic_sample.shape[1]

In [ ]:
del systematic_sample

In [ ]:
systematic_sample.head()

                                                    0    1  ...  9503  cluster_id
0   000002B63FAD4B030787F6DE4081DC1E12325026EB7DDA...   52  ...     0           1
5   00001112E046D8BBF8B5529A9ECB39920F828209EF4ABF...  293  ...     0           1
10  00001C429E58E2795B815F0EB63C603837AFC0EE76E9AE...  146  ...     0           1
15  000023840783F38467E39CC93B0A9C8EDB7DF3A7F1D151...   16  ...     0           1
20  0000399391F86A5C889B5166CEA46FD2F514B6DA68CE54...  315  ...     0           1

[5 rows x 9505 columns]

In [ ]:
systematic_sample.to_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/Ben0_sampled.csv')

**Cluster Sampling**

In [ ]:
def cluster_sampling(df, number_of_clusters):

    try:
        # Divide the units into cluster of equal size
        df['cluster_id'] = np.repeat([range(1,number_of_clusters+1)],len(df)/number_of_clusters)

        # Create an empty list
        indexes = []

        # Append the indexes from the clusters that meet the criteria
        # For this formula, clusters id must be an even number
        for i in range(0,len(df)):
            if df['cluster_id'].iloc[i]%2 == 0:
                indexes.append(i)
        cluster_sample = df.iloc[indexes]
        return(cluster_sample)

    except:
        print("The population cannot be divided into clusters of equal size!")

cluster_sample = cluster_sampling(data,10)

In [ ]:
cluster_sample.shape

(9872, 9505)

In [ ]:
cs_mean = sum(cluster_sample.mean(axis=0))/(cluster_sample.shape[1]-1)

In [ ]:
data.drop('cluster_id',axis=1,inplace=True)

In [ ]:
del cluster_sample

**Stratified Random Sampling**

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

# Set the split criteria
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2)

# Perform data frame split
for x, y in split.split(data, data['cluster_id']):
    stratified_random_sample = data.iloc[y]

In [ ]:
strs_mean = sum(stratified_random_sample.mean(axis=0))/(stratified_random_sample.shape[1]-1)

In [ ]:
del stratified_random_sample

In [ ]:
data.shape

(32084, 9505)

**Comparison Based on Means**

In [ ]:
# Create a dictionary with the mean outcomes for each sampling method and the real mean
outcomes = {'sample_mean':[srs_mean,ss_mean,cs_mean,strs_mean],
           'real_mean':pop_mean}

# Transform dictionary into a data frame
outcomes = pd.DataFrame(outcomes, index=['Simple Random Sampling','Systematic Sampling','Cluster Sampling','Stratified Random Sampling'])

# Add a value corresponding to the absolute error
outcomes['abs_error'] = abs(outcomes['real_mean'] - outcomes['sample_mean'])

# Sort data frame by absolute error
outcomes.sort_values(by='abs_error')

                            sample_mean  real_mean  abs_error
Systematic Sampling            0.054106   0.054035   0.000071
Simple Random Sampling         0.054271   0.054035   0.000236
Stratified Random Sampling     0.055581   0.054035   0.001546
Cluster Sampling               0.056138   0.054035   0.002103