In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data_sample = pd.read_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/Sampled_CSVs/Malicious/Zeroday_Simple_Sampling.csv')
data = pd.read_csv('/content/drive/Shareddrives/AndMal/Dataset/Static Analysis/Malicious-CSVs/Zeroday.csv',header=None)

In [ ]:
data_sample.head()

   Unnamed: 0                                 0    1  ...  9502  9503  cluster_id
0           0  0006682ea894278bca9b9e586435bf0e  554  ...   0.0   0.0           1
1           5  00181f10f03304f1a946a7e2d0e4ab33   23  ...   0.0   0.0           1
2          10  00227763335ad0fd031a947b6697e179   23  ...   0.0   0.0           1
3          15  00299912e2b97c8d2f15d53b769ce06c   44  ...   0.0   0.0           1
4          20  003d38b1917cdcdb7a8eb680d45988d2  226  ...   0.0   0.0           1

[5 rows x 9506 columns]

In [ ]:
data_sample = data_sample.drop(['Unnamed: 0','0','cluster_id'],axis=1)

In [ ]:
data = data.drop(0, axis=1)

In [ ]:
data.shape

(32084, 9503)

In [ ]:
p_values = []
for i in range(1,9504):
  ztest ,p_val = stests.ztest(data[i], x2=data_sample[str(i)], value=0,alternative='two-sided')
  p_values.append(p_val)

/usr/local/lib/python3.7/dist-packages/statsmodels/stats/weightstats.py:655: RuntimeWarning: invalid value encountered in double_scalars
  zstat = (value1 - value2 - diff) / std_diff

In [ ]:
d = {}
for i,val in enumerate(p_values):
  if val<0.05:
    d[i+1] = val

In [ ]:
print(d.keys())

dict_keys([208, 209, 210, 211, 295, 324, 378, 379, 2604, 3326, 3363, 3743, 9134])